body
    margin: 0
    padding: 0
    background: url('https://avatars.mds.yandex.net/get-pdb/477388/38587d77-6413-4ee5-bc6b-345d84e62b59/s1200') no-repeat
    background-size: cover
    background-attachment: fixed