body {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: url("../img/bg.jpg") no-repeat 50%;
  background-size: cover;
  min-height: 100vh;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 1px 2px 2px #000;
  color: #a3a86b;
}

.main {
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.rules-btn {
  position: absolute;
  top: 320px;
  left: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: transparent;
  border-radius: 0 0 20px 0;
  border: none;
  color: #770000;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  outline: none;
  text-shadow: 1px 2px 1px #000;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 5px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.rules-btn:focus {
  color: #888d53;
}

.rules-btn:hover {
  color: #a3a86b;
}

.rules {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 2px 5px #000;
          box-shadow: 0 2px 5px #000;
  padding: 0 10px;
  position: absolute;
  top: -320px;
  left: 0;
  text-shadow: 1px 1px 1px #000;
  width: 300px;
  height: 350px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.rules-title {
  color: #a3a86b;
  letter-spacing: 1px;
  font-size: 1.4em;
}

.rules-list-item {
  color: #cece04;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin: 10px;
}

.rules:hover {
  background: rgba(0, 0, 0, 0.6);
}

.visible {
  top: 0;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-block {
  position: relative;
  width: 50%;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

.btn-block:after {
  content: '';
  position: absolute;
  top: 0;
  right: -54px;
  border: 27px solid transparent;
  border-left: 27px solid rgba(0, 0, 0, 0.5);
}

.btn-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: -54px;
  border: 27px solid transparent;
  border-right: 27px solid rgba(0, 0, 0, 0.5);
}

.turn-btn {
  background: transparent;
  border-radius: 20px;
  border: 1px solid rgba(119, 0, 0, 0.5);
  color: #cece04;
  text-shadow: 1px 2px 2px #000;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
  width: 120px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  outline: none;
}

.turn-btn:focus {
  background: rgba(119, 0, 0, 0.5);
}

.turn-btn:hover {
  background: rgba(119, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
}

.turn-btn:active {
  background: rgba(119, 0, 0, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.turn-btn:not(:first-child) {
  margin-left: 30px;
}

.display-wrap {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.display-wrap .player-display,
.display-wrap .comp-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-wrap .player-display span,
.display-wrap .comp-display span {
  font-size: 28px;
  letter-spacing: 1px;
  color: #a3a86b;
  text-shadow: 1px 2px 2px #000;
}

.results-display {
  padding: 50px;
}

.results-display .results {
  font-size: 32px;
  letter-spacing: 1.5px;
  line-height: 10px;
  font-weight: bold;
  color: #cece04;
  text-shadow: 1px 2px 2px #000;
}

.scale {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 25px;
  min-height: 100px;
  background: rgba(0, 0, 0, 0.8);
}

.footer__text {
  color: #666;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.footer__text span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #770000;
}

.show-game-field {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */